@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

.app-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #f4faff;
  height: 100vh;
}

.home-container {
  width: 75vw;
  height: auto;
  margin-left: 35px;
  padding-top: 25px;
}

.home-container h5 {
  font-size: 1.5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.widgets-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 30px 0px;
}

.widget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #ffffff;
  padding: 5px 20px;
  width: 250px;
  border-radius: 15px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.widget .icon {
  border-radius: 10px;
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.widget .recovered {
  background: #f0fbf8;
  width: 70px;
}

.widget .recovered img {
  width: 40px;
  height: auto;
}

.widget .sick {
  background: #fef6ee;
  width: 70px;
}

.widget .sick img {
  width: 60px;
  height: auto;
}

.widget .deaths {
  background: #fff6f8;
  width: 70px;
}

.widget .deaths img {
  width: 40px;
  height: auto;
}

.widget .stats {
  margin: 10px 15%;
}

.widget .stats h4 {
  color: #687388;
  font-size: 0.9rem;
}

.widget .stats p {
  margin-top: 5px;
  font-weight: bold;
  font-size: 1.1rem;
}

.widget .stats span {
  margin-top: 5px;
  font-weight: bold;
  font-size: .8rem;
}

.map-container {
  background: #ffffff;
  border-radius: 15px;
}

.map-container .svg-map {
  fill: white;
  stroke: #445069;
}

.map-container path {
  -webkit-transition: all .5s;
  transition: all .5s;
}

.map-container path:hover {
  cursor: pointer;
  fill: #30b4a5;
}

.graph-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 35px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.graph-container .graph {
  width: 400px;
  padding: 20px;
  border-radius: 15px;
  background: #ffffff;
}

.graph-container .graph h5 {
  font-size: 1.2rem;
}

.graph-container .graph .chart {
  width: 200px;
  height: 200px;
  margin: 30px auto;
}

.graph-container .graph .labels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.graph-container .graph .labels .label1,
.graph-container .graph .labels .label2,
.graph-container .graph .labels .label3 {
  position: relative;
  padding: 5px 5px 5px 29px;
  width: 75px;
  height: auto;
  border: 1px solid #a3aab8;
  border-radius: 5px;
  font-size: 0.8rem;
}

.graph-container .graph .labels .label1::before {
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  height: 20px;
  width: 20px;
  background: #156eff;
  border-radius: 5px;
}

.graph-container .graph .labels .label2::before {
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  height: 20px;
  width: 20px;
  background: #5fe1e0;
  border-radius: 5px;
}

.graph-container .graph .labels .label3::before {
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  height: 20px;
  width: 20px;
  background: #3bcfad;
  border-radius: 5px;
}

.navbar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #ffffff;
  height: 100vh;
  min-width: 225px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 15px 0px;
  padding: 5px;
  max-width: 200px;
}

.navbar h5 {
  color: #a3aab8;
  font-size: 0.8rem;
  padding: 25px 0 0 30px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  letter-spacing: 1.5px;
}

.navbar .icon {
  color: #687388;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0 20px 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.navbar .icon p,
.navbar .icon a {
  padding-left: 5px;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1.1px;
}

.navbar .icon p {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding-left: 10px;
  font-size: 0.9rem;
}

.navbar .icon:hover {
  background: -webkit-gradient(linear, left top, right top, color-stop(30%, #f4faff), to(white));
  background: linear-gradient(90deg, #f4faff 30%, white 100%);
  border-left: 3px solid #156eff;
  padding: 20px 0 20px 27px;
  color: #156eff;
  font-weight: bold;
}

.world-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #f4faff;
  max-width: 225px;
  border-radius: 15px;
  margin: 15px 10px;
  padding: 15px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.world-info h3 {
  padding: 5px 0 0 15px;
  font-size: 1.1rem;
}

.world-info .icon {
  color: #156eff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 0px 5px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.world-info .icon p,
.world-info .icon a {
  padding-left: 5px;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1.1px;
}

.world-info .text {
  color: #687388;
}

.world-info .text p {
  padding: 10px 0px 10px 15px;
  font-size: 0.9rem;
}

.world-info .text span {
  color: #445069;
  font-weight: 700;
}

.timeline-container {
  width: 75vw;
  height: auto;
  margin-left: 35px;
  padding-top: 25px;
}

.timeline-container h5 {
  font-size: 1.5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.timeline-container .timeline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1000px;
  height: 93vh;
  border-radius: 15px;
  background: #ffffff;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
}

.timeline-container .timeline-left {
  max-width: 350px;
  margin-right: 22px;
}

.timeline-container .timeline-left .side-left {
  position: relative;
  background: #687388;
  color: white;
  border-radius: 6px;
  margin: 10px 10px 43px 0px;
  padding: 10px;
}

.timeline-container .timeline-left .side-left h4 {
  font-size: 0.9rem;
}

.timeline-container .timeline-left .side-left p {
  font-size: 0.8rem;
}

.timeline-container .timeline-left .side-left::before {
  position: absolute;
  content: '';
  width: 0px;
  height: 0px;
  top: 30%;
  right: -10px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #687388;
}

.timeline-container .timeline-left .side-left::after {
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  top: 22%;
  right: -73px;
  border-radius: 50%;
  z-index: 3;
  border: 5px solid #445069;
  background: #a3aab8;
}

.timeline-container .timeline-middle {
  width: 50px;
  margin-top: 10px;
  position: relative;
  z-index: 0;
}

.timeline-container .timeline-middle::before {
  content: '';
  position: absolute;
  height: 91vh;
  width: 10px;
  top: 0px;
  left: 42%;
  background: #3bcfad;
  border-radius: 6px;
}

.timeline-container .timeline-middle::after {
  content: '';
  position: absolute;
  height: 5px;
  width: 50px;
  top: 0px;
  left: 1px;
  background: #3bcfad;
  border-radius: 0 0 6px 6px;
}

.timeline-container .timeline-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 15px 0 0 32px;
  max-width: 350px;
}

.timeline-container .timeline-right .side-right {
  position: relative;
  background: #687388;
  color: white;
  border-radius: 6px;
  margin: 58px 0 0;
  padding: 10px;
}

.timeline-container .timeline-right .side-right h4 {
  font-size: 0.9rem;
}

.timeline-container .timeline-right .side-right p {
  font-size: 0.8rem;
}

.timeline-container .timeline-right .side-right::before {
  position: absolute;
  content: '';
  width: 0px;
  height: 0px;
  top: 25%;
  left: -10px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #687388;
}

.timeline-container .timeline-right .side-right::after {
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  top: 22%;
  left: -71px;
  border-radius: 50%;
  z-index: 3;
  border: 5px solid #445069;
  background: #a3aab8;
}

.news-container {
  width: 75vw;
  height: auto;
  margin-left: 35px;
  padding-top: 25px;
}

.news-container h5 {
  font-size: 1.5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.news-container .news-articles {
  border-radius: 15px;
  margin: 10px;
  padding: 15px;
  background: #ffffff;
  max-width: 1000px;
  max-height: 90vh;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
}

.news-container .news-articles h5 {
  font-size: 1.2rem;
}

.news-container .news-articles .article-link {
  text-decoration: none;
}

.news-container .news-articles .article-link .article {
  border: 2px solid #264653;
  border-radius: 6px;
  padding: 10px;
  color: #445069;
  margin: 15px 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.news-container .news-articles .article-link .article .title {
  color: #2a9d8f;
  margin-bottom: 5px;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}

.news-container .news-articles .article-link .article .description {
  margin-bottom: 5px;
  color: #264653;
  padding: 0 40px;
}

.news-container .news-articles .article-link .article .author {
  color: #2a9d8f;
  font-size: 0.7rem;
  text-align: center;
  font-weight: bold;
}

.news-container .news-articles .article-link .article:hover {
  -webkit-box-shadow: 0px 0px 20px #5fe1e0;
          box-shadow: 0px 0px 20px #5fe1e0;
}

.news-container .news-articles .news-api {
  font-size: 0.8rem;
  color: #a3aab8;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.testing-container {
  width: 75vw;
  height: auto;
  margin-left: 35px;
  padding-top: 25px;
}

.testing-container h5 {
  font-size: 1.5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.testing-container .testing {
  background: #ffffff;
  border-radius: 6px;
  margin-top: 15px;
  padding: 10px;
}

.testing-container .testing h5 {
  height: 200px;
  margin-top: 15%;
  text-align: center;
  font-size: 1.3rem;
}

.testing-container .testing .zip-code {
  text-align: center;
  margin-top: 30px;
}

.testing-container .testing .zip-code input {
  text-align: center;
  width: 500px;
  padding: 5px 0;
  border-radius: 6px;
}

.testing-container .testing .testing-map {
  width: 800px;
  height: 800px;
  background: #fc717d;
  border-radius: 6px;
  margin: 20px auto;
}

.contact-container {
  width: 75vw;
  height: auto;
  margin-left: 35px;
  padding-top: 25px;
}

.contact-container h5 {
  font-size: 1.5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.contact-container .contact {
  background: #ffffff;
  border-radius: 6px;
  margin: 15px auto;
  padding: 10px;
  max-width: 600px;
  height: auto;
}

.contact-container .contact h5 {
  font-size: 1.3rem;
  text-align: center;
  margin-top: 30px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.contact-container .contact .contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-container .contact .contact-form span {
  font-size: 1.1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.contact-container .contact .contact-form .form-select {
  font-size: 1rem;
}

.contact-container .contact .contact-form .form-select select {
  border: 1px solid #a3aab8;
  border-radius: 6px;
  padding: 10px;
  margin-left: 10px;
  width: 280px;
  font-size: 1rem;
  color: #687388;
}

.contact-container .contact .contact-form .form-select select option[data-default] {
  display: none;
}

.contact-container .contact .contact-form label {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 25px 0 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.contact-container .contact .contact-form .form-title,
.contact-container .contact .contact-form .form-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-container .contact .contact-form input[type='text'] {
  border: 1px solid #a3aab8;
  border-radius: 6px;
  width: 400px;
  padding: 5px;
  font-size: 1rem;
}

.contact-container .contact .contact-form textarea {
  border: 1px solid #a3aab8;
  border-radius: 6px;
  width: 400px;
  height: 150px;
  padding: 5px;
  font-size: 1rem;
}

.contact-container .contact .contact-form input[type='submit'] {
  background: #156eff;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  width: 400px;
  color: white;
  font-size: 1rem;
  padding: 10px;
  margin: 25px 0 0;
}

.contact-container .submitted {
  background: #ffffff;
  border-radius: 6px;
  margin: 15px auto;
  padding: 50px;
  max-width: 500px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  display: none;
  -webkit-animation: fadeIn 2s;
          animation: fadeIn 2s;
}

.contact-container .submitted div {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto 30px;
  padding: 30px;
  color: #87c549;
}

.contact-container .submitted h5 {
  font-size: 1.3rem;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.settings-container {
  width: 75vw;
  height: auto;
  margin-left: 35px;
  padding-top: 25px;
}

.settings-container h5 {
  font-size: 1.5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.settings-container .settings {
  background: #ffffff;
  border-radius: 6px;
  margin: 15px auto;
  padding: 10px;
  max-width: 600px;
  height: auto;
}

.settings-container .settings .dark-mode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0;
}

.settings-container .settings .dark-mode p {
  margin: 13px 0;
  padding-right: 15px;
  font-size: 1.1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.settings-container .settings .dark-mode input[type='checkbox'] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.settings-container .settings .dark-mode label {
  cursor: pointer;
  text-indent: -9999px;
  width: 50px;
  height: 20px;
  background: grey;
  display: block;
  border-radius: 50px;
  position: relative;
  margin: 15px 0;
}

.settings-container .settings .dark-mode label:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 5px;
  width: 13px;
  height: 13px;
  background: #ffffff;
  border-radius: 50%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.settings-container .settings .dark-mode input:checked + label {
  background: #156eff;
}

.settings-container .settings .dark-mode input:checked + label:after {
  left: calc(100% - 5px);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.settings-container .settings hr {
  margin: 0px auto;
  width: 450px;
}

.settings-container .settings .apis {
  margin: 30px 0;
}

.settings-container .settings .apis h5 {
  font-size: 1.3rem;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-decoration: underline;
  user-select: none;
}

.settings-container .settings .apis ul {
  margin-bottom: 20px;
  font-size: 0.9rem;
  padding: 0 0 0 100px;
}

.settings-container .settings .apis ul li {
  padding: 20px 0 0px;
}
/*# sourceMappingURL=App.css.map */